

<wrapper class="footer">
    <row>
        <columns>

            <spacer size="18"></spacer>
            Мои контакты:
        </columns>
    </row>
    <row >
        <columns large="6" >
            <p class="text-center">
                <a href="mailto:{{email}}">{{email}}</a>
            </p>
        </columns>
        <columns large="6" >
            <p class="text-center">
                <a href="tel:+{{phone}}">{{beautyphone}}</a>
            </p>
        </columns>
    </row>
    <row>

        <columns>
            <small class="secondary-text">
                /* т.к. у меня европейский номер телефона, разумно использовать для связи мессенджеры. Чаще всего я на связи в телеграм */
            </small>
        </columns>
    </row>
    <row>

        <columns>
            {{> menubar}}
        </columns>
    </row>
</wrapper>