

<wrapper class="footer">
    <row>
        <columns>

            <spacer size="18"></spacer>
            contactos:
        </columns>
    </row>
    <row >
        <columns large="6" >
            <p class="text-center">
                <a href="mailto:{{data.email}}">{{data.email}}</a>
            </p>
        </columns>
        <columns large="6" >
            <p class="text-center">
                <a href="tel:+{{data.phone}}">{{data.beautyphone}}</a>
            </p>
        </columns>
    </row>

    <row>

        <columns>
            {{> menubar}}
        </columns>
    </row>
</wrapper>
