<center>
    <menu class="text-center {{chatbar-class}}">

        <item href="https://www.linkedin.com/in/{{data.linkedin}}/" class="social-item">
            <img class="menubar-img"  src="{{data.path}}linkedin.png" width="45px" height="45px" alt="LinkedIn">
        </item>

        <item href="https://github.com/{{data.github}}" class="social-item">
            <img class="menubar-img"  src="{{data.path}}github.png" width="45px" height="45px" alt="HabrCareer">
        </item>

        <item href="https://telegram.im/@aleksdevega" class="social-item">
            <img class="menubar-img"  src="{{data.path}}telegram.png" width="45px" height="45px" alt="Telegram">
        </item>

        <item href="https://wa.me/{{phone}}" class="social-item">
            <img class="menubar-img"  src="{{data.path}}whatsapp.png" width="45px" height="45px" alt="WatsApp">
        </item>

        <item href="https://msng.link/o/?{{phone}}=vi" class="social-item">
            <img class="menubar-img"  src="{{data.path}}viber.png" width="45px" height="45px" alt="Viber">
        </item>

    </menu>
</center>
