<center>
    <menu class="text-center {{socialbar-class}}">
        <item href="https://www.youtube.com/channel/UCa7_XWb4ZyB4EqNjjjwwVDQ" class="social-item">
            <img  src="{{path}}soc-icon-yt.jpg" alt="YouTube">
        </item>
        <item href="https://instagram.com/olga_qznec?utm_source=ig_profile_share&igshid=12szttbf5fxrk" class="social-item">
            <img  src="{{path}}soc-icon-ig.jpg" alt="Instagram">
        </item>
        <item href="https://www.facebook.com/InvestQz/" class="social-item">
            <img  src="{{path}}soc-icon-fb.jpg" alt="Facebook">
        </item>
    </menu>
</center>