<menu class="vertical ">
    <item href="https://telegram.me/KyznicaInvestora_bot?start=subscribe_a27ae87c-9a6e-0c13-9a06-016a60280267
" class="social-item">
        <img  src="{{path}}soc-icon-tg.jpg" alt="Telegram"> Telegram
    </item>

    <item href="https://api.whatsapp.com/send?phone=79117973621&text=%D0%9E%D1%82%D0%BF%D1%80%D0%B0%D0%B2%D1%8C%D1%82%D0%B5%20%D0%BD%D0%B5%20%D0%B8%D0%B7%D0%BC%D0%B5%D0%BD%D1%8F%D1%8F%20%D1%8D%D1%82%D0%BE%20%D1%81%D0%BE%D0%BE%D0%B1%D1%89%D0%B5%D0%BD%D0%B8%D0%B5%20subscribe_a27ae87c-9a6e-0c13-9a06-016a60280267"
          class="social-item">
        <img  src="{{path}}soc-icon-wa.jpg" alt="WatsApp"> WatsApp
    </item>

    <item href="viber://pa?chatURI=onlain&context=subscribe_a27ae87c-9a6e-0c13-9a06-016a60280267" class="social-item">
        <img  src="{{path}}soc-icon-vb.jpg" alt="Viber"> Viber
    </item>

    <item href="https://vk.me/investqz" class="social-item">
        <img  src="{{path}}soc-icon-vk.jpg" alt="Vkontakte"> Vkontakte
    </item>

    <item href="https://m.me/2287324388157903?ref=subscribe_a27ae87c-9a6e-0c13-9a06-016a60280267" class="social-item">
        <img  src="{{path}}soc-icon-fb.jpg" alt="Facebook"> Facebook
    </item>
</menu>